/* Zero Out */
* {
  padding: 0rem;
  margin: 0rem;
}
body {
  background-color: rgb(134, 182, 221);
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-content: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.btn {
  border: none;
  outline-style: none;
  border-radius: 50px;
  padding: 0.5rem;
  background: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(35, 185, 255, 0.6);
}

input[type="text"] {
  padding: 0.5rem;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 5px;
}

i {
  color: white;
}

.my-div-icon {
  background-color: rgb(4, 146, 182);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#map {
  width: 92%;
  height: 100%;
  z-index: 1;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    top: 0px;
  }
  hr {
    display: none;
  }
  #map {
    width: 100%;
    height: 88%;
  }
  input[type="text"] {
    height: 30%;
    padding: 0.5rem;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }
  hr {
    display: none;
  }
  #map {
    top: 0px;
    width: 100%;
    height: 88%;
  }
  input[type="text"] {
    height: 30%;
    padding: 0.5rem;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
