.weather-container {
  position: absolute;
  bottom: 0rem;
  left: 8%;

  z-index: 100;

  display: none;
  flex-direction: row;

  width: 92%;
  height: 200px;

  background-color: #c9c9c9b7;
}

.location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;

  overflow-x: scroll;

  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
}
.location-container::after {
  content: "";
  padding: 0.1rem;
}

.weather-node {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0.3rem;
  margin-right: 1rem;

  height: 90%;
  min-width: 43%;

  border-radius: 10px;
  color: black;
  background-color: white;
}

.weather-card-body p {
  width: fit-content;
}
.weather-card-header {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem;
  color: rgb(0, 0, 0);
}
.weather-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
}

.weather-temp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.temp-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0.5rem;
}

.other-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.1rem;
  padding: 0rem 1rem;
}

.condition {
  font-size: 1.2rem;
}

/* Icon Styleing */

.fa-sun {
  margin: 0rem 1rem;
  font-size: 3.3rem;
  color: rgb(233, 221, 55);
}
.fa-cloud-sun,
.fa-cloud-rain {
  margin: 0rem 1rem;
  font-size: 3rem;
  color: rgb(38, 140, 187);
}
.fa-snowflake,
.fa-temperature-low {
  margin: 0rem 1rem;
  font-size: 3rem;
  color: rgb(123, 194, 226);
}

.fa-temperature-high {
  margin: 0rem 1rem;
  font-size: 3rem;
  color: rgb(255, 67, 67);
}
