.form-container {
  position: absolute;
  top: 0.3rem;
  left: 8%;

  z-index: 100;

  display: none;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 25%;
  height: 60px;

  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #406d92;
}

.input-container {
  width: 100%;
  height: 100%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: white;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .form-container {
    position: absolute;
    border-radius: 0px;
    top: 87%;
    left: 0%;
    width: 100%;
    height: 100px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .form-container {
    position: absolute;
    border-radius: 0px;
    top: 77%;
    left: 0%;
    width: 100%;
    height: 100px;
  }
  #zipSubmitBtn i {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
